* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: black; */
    /* color: white; */
}
.hathi {
      position: fixed;
    bottom: 59vmin;
    left: 35vw;
   width: 25vmax;
   height: 32vmin;
}
.ghoda {
      position: fixed;
    bottom: 10vmin;
    left: -1vw;
   width: 25vmax;
   height: 30vmin;
}
.chua {
      position: fixed;
    bottom: 10vmin;
    left: 50vw;
   width: 28vmax;
   height: 30vmin;
}
h1 {
    text-align: center;
    color: red;
}
a  {
    color: blue;

}
  ol li {
    color: red;
  }
  p {
    font-size: 5vmin;
  }